<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Form</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="app">
        <h1>Titanic Survived Prediction Form</h1>
        <h2>Accuracy: 81%</h2>
        
        <form @submit.prevent="submitForm">
            <label for="Sex">Sex:</label>
            <select id="Sex" required v-model="formData.Sex">
                <option value="male">male</option>
                <option value="female">female</option>
            </select>

            <label for="Embarked">curso:</label>
            <select id="Embarked" required v-model="formData.Embarked">
                <option value="C">Cherbourg</option>
                <option value="Q">Queenstown</option>
                <option value="S">Southamptom</option>
            </select>
            
            
            <label for="Pclass">Pclass:</label>
            <select id="Pclass" required v-model="formData.Pclass">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
            </select>
            
     

            
            <label for="Age">Age:</label>
            <input type="text" id="Age"  @input="replaceComma('Age')" placeholder="Enter a age"   required v-model="formData.Age">
            
            <label for="Fare">Fare:</label>
            <input type="text" id="Fare"  @input="replaceComma('Fare')" placeholder="Enter a fare"   required v-model="formData.Fare">

            <button type="submit">Enviar</button>
        </form>
        <div  class="prediction-container" v-if="prediction !== null">
            <h2>Resultado da Previsão:</h2>
            <div v-html="prediction"></div>
        </div>
    </div>
    <footer id="footer">
        {{ email }}
        <a href="/trocarsenha">Trocar a senha</a>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>